<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель Администратора</title>
    <link rel="stylesheet" href="../css/sidebar.css">
    <link rel="stylesheet" href="../css/admin_panel.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../JavaScript/admin_panel_logic.js"></script>
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <button type="button" class="users">Пользователи</button>
            <button type="button" class="add_person">Добавить</button>
            <button class="delete_person">Удалить</button>
        </div>
        <div class="main_field">
            <div class="admin_info">
                <h4>Мой профиль</h4>
                <p><strong>Имя:</strong> ... </p>
                <p><strong>Должность:</strong> ... </p>
                <p><strong>Контакт:</strong> ... </p>
                <p><strong>Дата регистрации:</strong> ... </p>
            </div>

        </div>
    </div>
</body>