<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Дневник Преподавателя</title>
    <link rel="stylesheet" href="../css/sidebar.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../JavaScript/student_dashboard_logic.js"></script>
</head>

<body>
    <div class="sidebar">
        <button>Расписание</button>
        <button>Мои курсы</button>
        <Button>Моя группа</Button>
        <Button>Мои оценки</Button>
    </div>
</body>